@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*####################### ELEMENT STYLING #######################*/
html{
    font-size: 62.5%;
}

body{
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

label{
    display: block;
    font-weight: 500;
}

label i{
    color: #2a8000;
}

input{
    padding: 0.5rem;
    border-radius: 0.5em;
    border-color: darkolivegreen;
}

.file-upload{
    font-size: 16px;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px black;
    width:250px;
    outline:none;
    margin-left: 40px;

}

::-webkit-file-upload-button{
    color: rgb(89, 207, 95);
    background: #fff;
    padding: 0.5em 1.5em;
    border: none;
    border-radius:0.5em;
    box-shadow: 1px 0 1px 1px darkgreen;
    outline: none;
}

::-webkit-file-upload-button:hover{
    background: #2a8000;
}

.submit{
    border-radius: 0em;
    /*background-color: rgb(47, 209, 82) ;*/
    background-color: #2a8000;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px;
    border-radius: 0.2em;
    cursor: pointer;
}

select{
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5em;
    border-color: darkolivegreen;
    text-transform: uppercase;    
    width: 175px;
}

select:focus, select:hover{
    border: 2px solid #2a8000;
}

select option{
    background: #fff;
    padding: 20px;
}


.heading{
    height: 100vh;
   /* border: 4px solid blue;*/
    background: rgba(172, 243, 182, 0.199);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading h2{
    text-transform: uppercase;
}

.conatiner{
   /*border: 4px solid red;*/
    max-width: 700px;
    height: max-content;
    margin: auto;
    text-align: center;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.small-heading{
    font-size: 1.5rem;
}

.button{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.button-primary{
    background-color: #fff;
    border-radius: 10em;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px;
}



.button-secondary{
    background-color: #fff;
    border-radius: 10em;
    margin-right: 5rem;
}
