@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*####################### ELEMENT STYLING #######################*/
html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

input{
    padding: 0.5rem;
    border-radius: 0.5em;
    border-color: darkolivegreen;
}


h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
/*################## UTILITY CLASSES #######################################*/

.unique{
    font-weight: 800;
    
  }
  
  .container{
      max-width: 1500px;
      width: 90%;
      margin: 0px auto;
     /* border: 4px solid red;*/
  }
  
  .lg-heading{
      font-size: 3.5rem;
  }
  
  .md-heading{
      font-size: 2.2rem;
  }
  
  .text-red{
      color: #e63946;
  }
  
  .text-light {
      color: #f4f4f4;
  }
  
  .text-black{
      color: black
  }
  
  .text-gray{
      color: #555;
  }
  
  
  /*####################### HEADER STYLING #########################*/
.header{
    height: max-content;
    width: 100vw;
    background-color: rgba(8, 236, 38, 0.199);
   /*  border: 5px solid violet; */
    /*background:  url(./WhatsApp\ Image\ 2021-11-19\ at\ 15.14.25.jpeg);*/
    /*background-position: right;
    background-size: 25%;
    background-repeat: no-repeat;
    position: relative;*/
}

.header .logo,
.header .navbar a {
    color: #232323;
    font-weight: 400;
}

.navbar .logo{
    float: left;
   /*  border: 1px solid red; */
   /*  width: 1300px; */
}

.navbar .navitems{
    float: right;
    right: 100px;
    margin-top: 1rem;
}

.navbar .navitem{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link, .navbar a:visited{
    color: #232323;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 2px solid rgb(145, 219, 17);
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}



/*################### CONTAINER 2 ######################*/

/*.container2{
    border:  2px solid blue;
    background: #ddd;
    padding: 0px 10px;
    height: 50px;
    width: 400px;
    border-radius: 50px;*/
    /*background-color: rgba(8, 236, 38, 0.199);*/
    /*background-color: rgba(172, 243, 182, 0.199);*/
   /* height: 90vh;*/
    /*background:  url(./WhatsApp\ Image\ 2021-11-19\ at\ 15.14.25.jpeg);
    background-position: right;
    background-size: 25%;
    background-repeat: no-repeat;
    position: relative;*/
   /* position: absolute;
    top: 10%;
    left: 10%;
   }*/


/* ############## SEARCH BOX ################*/

.button{
    /*display: inline-block;*/
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    cursor: pointer;
    background: #2a8000;
    color: #fff;
}



.button-secondary{
    border-radius: 10em;
    margin-right: 5rem;
    font-size: large;
    outline: none;
}

.search{
    /* border: 10px solid red;  */
    margin-top: 0px;
    margin-left: 500px;
    /*margin-right: 800px;*/
}

.search2{
    /* border: 2px solid blue; */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
}

/*.searchbox{
    border: 3px solid #32e17c;
    height: 40px;
    width: 300px;
    background: #fff;
    border: none;
    border-radius: 50px;
    padding: 0px 10px;

}

.search{
    border: none;
}*/

/*.container2 .search{
    border: 0;
    outline: none;
    color: #555;
}

.search-wrap{
    width: 500px;
    margin: 30px auto;
}

.search-wrap .searchbox{
    position: relative;
    width: 500px;
    height: 70px;
}

.search-wrap .searchbox .search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px ;
    font-size: 16px;
}

.search-wrap .searchbox .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #2a8000;
    z-index: 1;
    cursor: pointer;
}

.search-wrap .searchbox .btn:hover{
    background: #3eaf05;

}

.search-wrap .searchbox .btn.btn-common .fas{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: #fff;
font-size: 20px;
}

.search-wrap.search-wrap1 .searchbox .btn{
    right: 0;
   border-radius: 50%;
}

.search-wrap.search-wrap1 .searchbox .search{
    padding-right: 80px;
    border-radius: 50px;
}*/



/*###################### PROFILES #########################*/


.cards{
    background: #ddd;
    padding: 10rem 0   ;
}

.profiles{
   /* border: 8px dotted skyblue;*/
    width: max-content;
    margin-left: 50px;
}

.profile1{
   /* border: 10px solid darkgrey;*/
    float: left;
    width: max-content;
    
}

/*.profile3{
    float: left;
    width: 25%;
}*/

.profile2{
   /* border: 10px solid darkcyan;*/
    float: right;
    width: max-content;
}

.profiles::after{
    content: " ";
    display: block;
    clear: both;
}


/* ################ PROFILE CARD ########################*/

.profile-card{
    width: 600px;
    /*margin: auto;*/
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
   border: 5px solid green;
   margin-bottom: 20px;
   border-radius: 20px;
}

.image-container{
    border: 1px solid black;
    float: left;
    width: 30%;
}

.title h2{
    padding-left: 10px;
}

.info{
    color: #2a8000;
    margin-right: 16px;
}

.main-container{
    /*border: 5px solid pink;*/
    padding: 20px;
    float: right;
    width: 70%;
}

.profile-card::after{
    content: " ";
    display: block;
    clear: both;
}

/* ############## SELECT BUTTON ###############*/

.submit{
    border-radius: 0em;
    /*background-color: rgb(47, 209, 82) ;*/
    background-color: #2a8000;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px;
    border-radius: 0.2em;
    cursor: pointer;
   
}
/*################33 footer styling ###############3*/
/*.footer{
    background-color:  rgba(3, 51, 10, 0.199);
    text-align: center;
    color: black;
    padding: 2rem;
}

.socialmedialinks i{
    margin: 2rem;
}*/

/* ################## SIDE BAR #######################*/

.sidebar{
    position: fixed;
    right: -450px;
    width: 450px;
    height: 100%;
    background: white;
}

.sidebar h2{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: all .5s ease;
}

ul li:hover a{
    padding-left: 50px;

}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    font-size: large;
    background: white;
    border-radius: 3px;
}

label #btn{
    right: 40px;
    top: 10px;
    font-size: 35px;
    color: black;
    padding: 6px 12px;
    transition: all .5s ease;
}

label #cancel{
    z-index: 1111;
    right: 195px;
    top: 10px;
    font-size: 35px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    opacity: 0;
}

#check:checked ~ .sidebar{
    right: 0;
}

#check:checked ~ label #btn{
    right: 40px;
    /*opacity: 0;*/
    pointer-events: none;
}

#check:checked ~ label #cancel{
    right: 45px;
    
}
/* ############## Edit #############*/

.submit1{
    height: 50px;
    width: 200px;
    border-radius: 0em;
    /*background-color: rgb(47, 209, 82) ;*/
    background-color: #063146;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px;
    border-radius: 0.2em;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
}

/* ############ profile photo ###########*/
.file-upload{
    font-size: 16px;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px black;
    width:250px;
    outline:none;
    margin-left: 20px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;

}

::-webkit-file-upload-button{
    color: #063146;
    background: #fff;
    padding: 0.5em 1.5em;
    border: none;
    border-radius:0.5em;
    box-shadow: 1px 0 1px 1px darkgreen;
    outline: none;
}

::-webkit-file-upload-button:hover{
    background: #85e455;
}

label.md-heading{
    margin-left: 40px;
}

label i{
    margin-right: 16px;
}

.profile-img img{
    margin-left: 40px;
    border-radius: 10px;
    
}
